In [1]:
import mysql.connector as sql
import pandas as pd
db_conn = sql.connect(host="localhost",
    user = "root",
    passwd = '1A2s3D4f5G6h7J8k9L0z1Z2x3C4v5B6n7M',
    database = 'adoption'
                     )
db_cursor = db_conn.cursor()

In [11]:
db_cursor.execute('SELECT * FROM puppies')
table_rows = db_cursor.fetchall()
df_puppies = pd.DataFrame(table_rows)
df_puppies.columns = ['puppy_id', 'name', 'age', 'breed']
df_puppies.head()

   puppy_id    name  age             breed
0         1  rufus     1               pug
1         2     max    4               lab
2         3  shadow    8  golden retriever
3         4   ella     3              chow
4         5   timmy    9            shitzu

In [10]:
db_cursor.execute('SELECT * FROM owners')
table_rows = db_cursor.fetchall()
df_owner = pd.DataFrame(table_rows)
df_owner.columns = ['owner_id','name', 'puppy_id']
df_owner.head()

   owner_id      name  puppy_id
0         1     james         0
1         2      john         1
2         3    gordon         2
3         4      alex         3
4         5  virginia         4

In [28]:
print('puppies has ' + str(len(df_puppies)) + ' records')
print('owners has ' + str(len(df_owner)) + ' records')

puppies has 60 records
owners has 40 records

In [26]:
print('puppies has ' + str(df_puppies.shape[1]) + ' columns')
print('owners has ' + str(df_owner.shape[1]) + ' columns')

puppies has 4 columns
owners has 3 columns

In [29]:
pd.value_counts(df_puppies.breed)

pug                 6
chow                6
poodle              3
basset hound        3
french bulldog      3
dachshund           3
terrier             3
bull terrier        3
husky               3
great dane          3
lab                 3
alaskan malamute    3
boxer               3
beagle              3
bulldog             3
shitzu              3
golden retriever    3
St. bernard         3
Name: breed, dtype: int64

In [31]:
pd.value_counts(df_owner.name)

james       2
john        2
jennifer    2
charles     2
susan       2
thomas      2
karen       2
sarah       2
william     2
michael     2
tyler       2
eli         2
jay         2
nick        2
noah        2
catrina     2
virginia    2
alex        2
gordon      2
mary        2
Name: name, dtype: int64